body {
    background-color: rgb(23, 23, 63);
    font-family: 'Poppins', sans-serif;
  }

/* Desktop */
@media  (min-width:992px){
    .Title{
        text-align: center;
        padding-bottom: 20px;
    }
    
    body {
        background-color: rgb(23, 23, 63);
        font-family: 'Poppins', sans-serif;
      }
    
    h1{
        color: rgb(23, 23, 63);
        font-style: bold;
        font-weight: bolder;
    }
    h2{
        color: orange;
        font-style: bold;
    }
    h4{
        color: rgb(31, 62, 163);
    }
    .TitlePencarian{
        text-align: left;
    }
    
    .result-container.show {
        display: block;
      }
    
    .iconData{
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    }
    
/* Mobile */
    @media (max-width:991px){
        .Title{
            text-align: center;
            padding-bottom: 20px;
        }
        
        h1{
            color: rgb(23, 23, 63);
            font-style: bold;
            font-weight: bolder;
        }
        h2{
            color: orange;
            font-style: bold;
            font-size: 20px;
        }
        h4{
            color: rgb(31, 62, 163);
        }
        .TitlePencarian{
            text-align: left;
        }
        
        .result-container.show {
            display: block;
          }
        
        .iconData{
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
        }
    }